node_modules
dist
.tmp
.sass-cache
bower_components
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.idea/bodea.iml.idea/libraries/bodea_node_modules.xml
.idea/libraries/bodea_node_modules.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml

    
