<form ng-submit="addNewImage(); addImage = false">
    <md-input-container class="column medium-4">
        <label>Theme</label>
        <input ng-model="newImage.theme">
    </md-input-container>
    <md-input-container class="column medium-4">
        <label>Nom</label>
        <input ng-model="newImage.name">
    </md-input-container>
    <md-input-container>
        <label></label>
        <input type="file"
               endtype="multipart/form-data"
               value="Charger une image"
               ng-model="newImage.file" app-filereader required="">
    </md-input-container>
    <md-button class="md-primary" type="submit">Valider</md-button>
    <md-button  class="md-primary" ng-click="newImage={}; addImage = false">Annuler</md-button>
</form>


<form enctype="multipart/form-data" method="post" action="http://localhost:9000/upload">
    <input type="file" name="picture">
    <p>
        <input type="submit">
    </p>
</form>