<form ng-submit="addNewImage(); addImage = false">
    <md-input-container class="column medium-4">
        <label>Theme</label>
        <input ng-model="newImage.theme">
    </md-input-container>
    <md-input-container class="column medium-4">
        <label>Nom</label>
        <input ng-model="newImage.name">
    </md-input-container>
    <md-input-container>
        <label></label>
        <input type="file"
               value="Charger une image"
               app-filereader="newImage.file" required="">
    </md-input-container>
    <md-button class="md-primary" type="submit">Valider</md-button>
    <md-button  class="md-primary" ng-click="newImage={}; addImage = false">Annuler</md-button>
</form>