<div ng-controller="CommandesCtrl">
        <div class="column large-12 table-title-container">
            <div class="column medium-2 table-title">
                <div class="column md-whiteframe-z1">
                    Numero
                    <i class="fa"
                       ng-class="{'fa-chevron-down': predicate != 'id' || (predicate == 'id' && reverse == false),
                      'fa-chevron-up': predicate == 'id' && reverse == true}"
                       ng-click="order('id')"></i>
                </div>
            </div>
            <div class="column medium-2 table-title">
                <div class="column md-whiteframe-z1">
                    Magasins
                </div>
            </div>
            <div class="column medium-2 table-title">
                <div class="column md-whiteframe-z1">
                    Date
                    <i class="fa"
                       ng-class="{'fa-chevron-down': predicate != 'date' || (predicate == 'date' && reverse == false),
                      'fa-chevron-up': predicate == 'date' && reverse == true}"
                       ng-click="order('date')"></i>
                </div>
            </div>
            <div class="column medium-2 table-title">
                <div class="column md-whiteframe-z1">
                    Etat
                    <i class="fa"
                       ng-class="{'fa-chevron-down': predicate != 'state' || (predicate == 'state' && reverse == false),
                      'fa-chevron-up': predicate == 'state' && reverse == true}"
                       ng-click="order('state')"></i>
                </div>
            </div>
            <md-button class="md-primary md-raised column medium-4 marginLeft0 marginRight0"
                       ng-click="createOrder = true">Ajouter une commande
            </md-button>
        </div>
        <md-list ng-if="createOrder" ng-init="newOrder.brand = $root.user.brand" class="md-whiteframe-z1">
            <form ng-submit="addOrder(); $parent.createOrder = false">
            <i class="md-warn relative fa fa-times-circle"
               style="font-size: 30px;right: -15px;float: right;top: -22px;"
               ng-click="cancelNewOrder(); $parent.createOrder = false"></i>
            <md-subheader>Ajouter une commande</md-subheader>
            <md-divider></md-divider>
            <md-list>
                <md-subheader>Visuel</md-subheader>
                <md-divider></md-divider>
                <md-list-item>
                    <div class="column large-12 padding0">
                        <a class="md-button md-primary md-default-theme md-raised"
                           ng-click="addNewImage = !addNewImage">Ajouter une nouvelle image</a>
                        <add-image-form ng-init="newImage.brand = newOrder.brand" ng-if="addNewImage"></add-image-form>
                        <md-select placeholder="selectionner une image" ng-change="newOrder.image = loadImg(newOrder.image.uuid)"
                                   ng-model="newOrder.image.uuid">
                            <md-option ng-repeat="image in images | filter: $root.user.brand.id" value="{{image.uuid}}">{{image.name}} ({{image.theme}})</md-option>
                        </md-select>
                        <div class="column large-12 md-whiteframe-z1 padding10" ng-if="newOrder.image.url">
                            <i class="float-right fa fa-times pointer" ng-click="newOrder.image = {}"></i>
                            <img ng-src="assets/pictures/{{newOrder.image.url}}" class="width100p">
                        </div>
                    </div>
                </md-list-item>
            </md-list>
            <md-subheader class="md-no-sticky">Details de la commande</md-subheader>
            <md-list ng-repeat="subOrder in newOrder.subOrders">
                <md-subheader class="md-no-sticky">Details de la commande pour {{subOrder.store.name}}</md-subheader>
                <md-divider></md-divider>
                <i class="float-right fa fa-times" ng-click="newOrder.subOrders.splice($index, 1); ordersTotalCalculs()"></i>
                <md-input-container class="column medium-4">
                    <label>Magasin</label>
                    <input type="text" ng-model="subOrder.store.name" disabled>
                </md-input-container>
                <md-input-container class="column medium-8">
                    <label>Adresse de livraison</label>
                    <input type="text" ng-model="subOrder.store.deliveryAddress" disabled>
                </md-input-container>
                <md-input-container class="column medium-8">
                    <label>Adresse de facturation</label>
                    <input type="text" ng-model="subOrder.store.billingAddress" disabled>
                </md-input-container>
                <md-input-container>
                    <label>Nombre de bâches</label>
                    <input type="number"
                           step="any"
                           ng-change="ordersTotalCalculs(newOrder)"
                           ng-model="subOrder.numberItems">
                </md-input-container>
            </md-list>
                <a class="md-button md-primary md-default-theme"
                   ng-hide="$parent.addSubOrder == true"
                   ng-click="$parent.addSubOrder = true">
                    Ajouter une sous-commande
                </a>
            <md-list>
                <div ng-show="$parent.addSubOrder == true">
                    <form>
                        <div>
                            <md-subheader class="md-no-sticky">Choisissez un magasin</md-subheader>
                            <md-divider></md-divider>
                            <a class="md-button md-primary md-raised md-default-theme"
                               ng-show="newSubOrder.stores.length < filtredStores.length"
                               ng-click="selectAllStores(filtredStores, newSubOrder.stores)">
                                Selectionner tout les magasins
                            </a>
                            <a class="md-button md-primary md-raised md-default-theme"
                               ng-show="newSubOrder.stores.length == filtredStores.length"
                               ng-click="newSubOrder.stores = []">
                                désélectionner tout les magasins
                            </a>
                            <div flex="50"
                                 class="fade"
                                 ng-repeat="store in $root.user.stores">
                                <md-checkbox ng-checked="exists(store, newSubOrder.stores)" ng-click="toggle(store, newSubOrder.stores)">
                                    {{ store.name }}
                                </md-checkbox>
                            </div>
                        </div>
                        <div ng-show="newSubOrder.stores.length">
                            <md-input-container>
                                <label>Nombre de bâches</label>
                                <input type="number"
                                       ng-model="newSubOrder.numberItems">
                            </md-input-container>
                            <a class="md-button md-raised md-default-theme md-primary"
                               ng-click="newSubOrder = addNewSubOrder(newSubOrder); $parent.selectedStore = false;">
                                Ajouter la sous commande
                            </a>
                            <a class="md-button md-primary md-default-theme" ng-click="$parent.addSubOrder = false">Annuler</a>
                        </div>
                    </form>
                </div>
                <div ng-show="newOrder.numberItems > 0">
                    <md-list>
                        <md-subheader>Nombre total de baches</md-subheader>
                        <md-divider></md-divider>
                        <md-list-item>
                            <b>{{newOrder.numberItems}}</b>
                        </md-list-item>
                    </md-list>
                </div>
            </md-list>
            <md-button class="md-primary md-raised" ng-click="newOrder.state = 1; addOrder(newOrder);">Valider</md-button>
            <md-button class="md-primary md-raised" ng-click="newOrder.state = 0; addOrder(newOrder);">Enregistrer dans les brouillons</md-button>
            <md-button class="md-warn md-raised" ng-click="cancelNewOrder(); $parent.createOrder = false">Annuler</md-button>
            </form>
        </md-list>
        <div class="column large-12 fade" md-theme="commandeTheme"
             ng-class="{'md-whiteframe-z2': viewDetails}"
             ng-repeat="order in filteredOrders = (orders | filter: $root.filter) | orderBy:predicate:reverse | limitTo: limit">
            <md-divider class="column large-12" ng-if="!$first"></md-divider>
            <div class="padding10 float-left width100p">
                <div class="width100p float-left center" ng-show="!refactor">
                    <h5 class="column medium-2">{{order.id}}</h5>
                    <h5 class="column medium-2 pointer">
                        <p class="margin0" ng-repeat="subOrder in order.subOrders"
                              ng-click="$root.filter = subOrder.store.name">{{subOrder.store.name}}</p>
                    </h5>
                    <h5 class="column medium-2">{{order.date | date:'MM/dd/yyyy'}}</h5>
                    <div class="column medium-2">
                        <md-button ng-show="order.state != 0" class="md-fab md-mini"
                                   aria-label="order.state"
                                   ng-class="{'md-accent': order.state == 1, 'md-accent md-hue-1': order.state == 2,
                                'md-accent md-hue-2': order.state == 3, 'md-primary': order.state == 4,
                                'md-accent md-hue-3': order.state == 5}"></md-button>
                        <md-checkbox
                                ng-show="order.state == 0"
                                ng-init="copyCommande(order)"
                                ng-change="refactorCommande(order)"
                                ng-model="order.newOrder.state"
                                aria-label="Brouillon"
                                ng-true-value="0"
                                ng-false-value="1"
                                class="md-primary">
                            Brouillon
                        </md-checkbox>
                    </div>
                    <h5><i class="column medium-2 pointer fa fa-pencil"
                           ng-click="copyCommande(order); refactor = true" ng-show="order.state ==0"></i></h5>
                    <h5><i class="column medium-2 pointer fa fa-eye" ng-click="viewDetails = !viewDetails" ng-show="order.state !=0"></i></h5>
                    <h5><i class="column medium-2 pointer fa fa-trash"  ng-show="order.state ==0" ng-click="confirmRemove = !confirmRemove"></i></h5>
                </div>
                <div ng-if="confirmRemove" class="float-right md-whiteframe-z1">
                    <div class="float-left padding10">
                        Etes-vous sur de vouloir suprimer cette commande ?
                        <md-button class="md-primary md-raised" ng-click="$parent.confirmRemove = false; remove(order)">
                            Oui
                        </md-button>
                        <md-button class="md-primary md-raised" ng-click="$parent.confirmRemove = false">
                            Non
                        </md-button>
                    </div>
                </div>
                <div ng-if="viewDetails" class="float-left width100p">
                    <md-list>
                        <md-subheader>Visuel</md-subheader>
                        <md-divider></md-divider>
                        <md-list-item>
                            <div class="column large-12 padding0">
                                <a class="md-primary md-button margin10 md-default-theme" ng-click="showImage = !showImage">Voir {{order.image.name}}</a>
                                <a class="md-primary md-button margin10 md-default-theme" href="{{order.image.url}}" download="{{order.image.name}}">Telecharger {{order.image.name}}</a>
                                <div class="column large-12 md-whiteframe-z1 padding10" ng-if="showImage">
                                    <i class="float-right fa fa-times pointer" ng-click="$parent.showImage = false"></i>
                                    <img ng-src="assets/pictures/{{order.image.url}}" class="width100p">
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                    <md-list>
                        <md-subheader>Nombre total de baches</md-subheader>
                        <md-divider></md-divider>
                        <md-list-item>
                            <b>{{order.numberItems}}</b>
                        </md-list-item>
                    </md-list>
                    <md-subheader class="md-no-sticky">Details de la commande</md-subheader>
                    <md-list ng-repeat="subOrder in order.subOrders"
                             ng-init="subOrder.store = getStoreById(subOrder.store.id)"
                             class="fade">
                        <md-divider></md-divider>
                        <md-list-item>
                            <p class="column medium-4">Magasin</p>
                            <p>{{subOrder.store.name}}</p>
                        </md-list-item>
                        <md-list-item>
                            <p class="column medium-4">Adresse de livraison</p>
                            <p>{{subOrder.store.deliveryAddress}}</p>
                        </md-list-item>
                        <md-list-item>
                            <p class="column medium-4">Adresse de facturation</p>
                            <p>{{subOrder.store.billingAddress}}</p>
                        </md-list-item>
                        <md-list-item>
                            <p class="column medium-4">Nombre de bâches</p>
                            <p>{{subOrder.numberItems}}</p>
                        </md-list-item>
                    </md-list>
                    <md-button class="md-raised md-primary" ng-click="$parent.viewDetails = false">Ok</md-button>
                </div>
                <md-list ng-if="refactor" class="md-whiteframe-z1">
                    <form>
                        <i class="md-warn relative fa fa-times-circle"
                           style="  font-size: 30px;right: -15px;float: right;top: -22px;"
                           ng-click="$parent.refactor = false"></i>
                        <md-subheader>Modifer la commande {{order.id}} - {{order.brand.name}}</md-subheader>
                        <md-divider></md-divider>
                        <md-list>
                            <md-subheader>Visuel</md-subheader>
                            <md-divider></md-divider>
                            <md-list-item>
                                <div class="column large-12 padding0">
                                    <input type="file"
                                           class="md-button md-primary md-default-theme"
                                           ng-model="order.newOrder.image.url" app-filereader>
                                    <md-select placeholder="selectionner une image" ng-change="order.newOrder.image = loadImg(order.newOrder.image.uuid)"
                                               ng-model="order.newOrder.image.uuid">
                                        <md-option ng-repeat="image in images | filter: $root.user.brand.id"
                                                   value="{{image.uuid}}">{{image.name}}</md-option>
                                    </md-select>
                                    <div class="column large-12 md-whiteframe-z1 padding10" ng-if="order.newOrder.image.url">
                                        <i class="float-right fa fa-times pointer" ng-click="order.newOrder.image = {}"></i>
                                        <img ng-src="assets/pictures/{{order.newOrder.image.url}}" class="width100p">
                                    </div>
                                </div>
                            </md-list-item>
                        </md-list>
                        <md-subheader class="md-no-sticky">Details de la commande</md-subheader>
                        <md-list ng-repeat="subOrder in order.newOrder.subOrders">
                            <md-subheader class="md-no-sticky">Details de la commande pour {{subOrder.store.name}}</md-subheader>
                            <md-divider></md-divider>
                            <i class="float-right fa fa-times" ng-click="order.newOrder.subOrders.splice($index, 1); ordersTotalCalculs(order.newOrder)"></i>
                            <md-input-container class="column medium-4">
                                <label>Magasin</label>
                                <input type="text" ng-model="subOrder.store.name" disabled>
                            </md-input-container>
                            <md-input-container class="column medium-8">
                                <label>Adresse de livraison</label>
                                <input type="text" ng-model="subOrder.store.deliveryAddress" disabled>
                            </md-input-container>
                            <md-input-container class="column medium-8">
                                <label>Adresse de facturation</label>
                                <input type="text" ng-model="subOrder.store.billingAddress" disabled>
                            </md-input-container>
                            <md-input-container>
                                <label>Nombre de bâches</label>
                                <input type="number"
                                       step="any"
                                       ng-change="ordersTotalCalculs(order.newOrder)"
                                       ng-model="subOrder.numberItems">
                            </md-input-container>
                        </md-list>
                        <md-list>
                            <a class="md-button md-primary md-default-theme"
                               ng-hide="$parent.addSubOrder == true"
                               ng-click="$parent.addSubOrder = true">
                                Ajouter une sous-commande
                            </a>
                            <div ng-show="$parent.addSubOrder == true">
                                <form>
                                    <div>
                                        <md-subheader class="md-no-sticky">Choisissez un magasin</md-subheader>
                                        <md-divider></md-divider>
                                        <a class="md-button md-primary md-raised md-default-theme"
                                           ng-show="newSubOrder.stores.length < filtredStores.length"
                                           ng-click="selectAllStores(filtredStores, newSubOrder.stores)">
                                            Selectionner tout les magasins
                                        </a>
                                        <a class="md-button md-primary md-raised md-default-theme"
                                           ng-show="newSubOrder.stores.length == filtredStores.length"
                                           ng-click="newSubOrder.stores = []">
                                            désélectionner tout les magasins
                                        </a>
                                        <div flex="50"
                                             class="fade"
                                             ng-repeat="store in $root.user.stores">
                                            <md-checkbox ng-checked="exists(store, newSubOrder.stores)" ng-click="toggle(store, newSubOrder.stores)">
                                                {{ store.name }}
                                            </md-checkbox>
                                        </div>
                                    </div>
                                    <div ng-show="newSubOrder.stores.length">
                                        <md-input-container>
                                            <label>Nombre de bâches</label>
                                            <input type="number"
                                                   ng-model="newSubOrder.numberItems">
                                        </md-input-container>
                                        <a class="md-button md-raised md-default-theme md-primary"
                                           ng-click="newSubOrder = addNewSubOrder(newSubOrder, order.newOrder); $parent.selectedStore = false;">
                                            Ajouter la sous commande
                                        </a>
                                        <a class="md-button md-primary md-default-theme" ng-click="$parent.addSubOrder = false">Annuler</a>
                                    </div>
                                </form>
                            </div>
                            <div ng-show="order.newOrder.numberItems > 0">
                                <md-list>
                                    <md-subheader>Nombre total de baches</md-subheader>
                                    <md-divider></md-divider>
                                    <md-list-item>
                                        <b>{{order.newOrder.numberItems}}</b>
                                    </md-list-item>
                                </md-list>
                            </div>
                            <md-checkbox
                                    ng-model="order.newOrder.state"
                                    aria-label="Brouillon"
                                    ng-true-value="0"
                                    ng-false-value="1"
                                    class="md-primary">
                                Brouillon
                            </md-checkbox>
                        </md-list>
                        <md-button class="md-primary md-raised"
                                   ng-click="refactorCommande(order);
                                   $parent.refactor = false">Valider
                        </md-button>
                        <md-button class="md-warn md-raised" ng-click="$parent.refactor = false">Annuler</md-button>
                    </form>
                </md-list>
            </div>
        </div>
        <md-button ng-show="filteredOrders.length > limit"
                   ng-click="limit = limit + 20"
                   class="md-primary md-raised">Voir plus</md-button>
</div>