<div class="column large-12 table-title-container">
    <div class="column medium-2 table-title">
        <div class="column md-whiteframe-z1">
            Numero
            <i class="fa"
               ng-class="{'fa-chevron-down': predicate != 'id' || (predicate == 'id' && reverse == false),
              'fa-chevron-up': predicate == 'id' && reverse == true}"
               ng-click="order('id')"></i>
        </div>
    </div>
    <div class="column medium-2 table-title">
        <div class="column md-whiteframe-z1">
            Magasins
        </div>
    </div>
    <div class="column medium-2 table-title">
        <div class="column md-whiteframe-z1">
            Date
            <i class="fa"
               ng-class="{'fa-chevron-down': predicate != 'date' || (predicate == 'date' && reverse == false),
              'fa-chevron-up': predicate == 'date' && reverse == true}"
               ng-click="order('date')"></i>
        </div>
    </div>
    <div class="column medium-2 table-title">
        <div class="column md-whiteframe-z1">
            Etat
            <i class="fa"
               ng-class="{'fa-chevron-down': predicate != 'state' || (predicate == 'state' && reverse == false),
              'fa-chevron-up': predicate == 'state' && reverse == true}"
               ng-click="order('state')"></i>
        </div>
    </div>
    <md-button class="md-primary md-raised column medium-4 marginLeft0 marginRight0"
               ng-click="createOrder = true">Ajouter une commande
    </md-button>
</div>
<md-list ng-if="createOrder" class="md-whiteframe-z1">
    <form ng-submit="addOrder(); $parent.createOrder = false">
    <i class="md-warn relative fa fa-times-circle"
       style="font-size: 30px;right: -15px;float: right;top: -22px;"
       ng-click="cancelNewOrder(); $parent.createOrder = false"></i>
    <md-subheader>Ajouter une commande</md-subheader>
    <md-divider></md-divider>
    <md-list>
        <md-subheader>Visuel</md-subheader>
        <md-divider></md-divider>
        <md-list-item>
            <div class="column large-12 padding0">
                <input type="file"
                       class="md-button md-primary md-default-theme"
                       ng-model="newOrder.image.url" app-filereader>
                <md-select placeholder="selectionner une image" ng-change="newOrder.image = loadImg(newOrder.image.id)"
                           ng-model="newOrder.image.id">
                    <md-option ng-repeat="image in images" value="{{image.id}}">{{image.name}}</md-option>
                </md-select>
                <div class="column large-12 md-whiteframe-z1 padding10" ng-if="newOrder.image.url">
                    <i class="float-right fa fa-times pointer" ng-click="newOrder.image = {}"></i>
                    <img ng-src="{{newOrder.image.url}}" class="width100p">
                </div>
            </div>
        </md-list-item>
    </md-list>
    <md-subheader class="md-no-sticky">Details de la commande</md-subheader>
    <md-list ng-repeat="subOrder in newOrder.subOrders">
        <md-subheader class="md-no-sticky">Details de la commande pour {{subOrder.store.name}}</md-subheader>
        <md-divider></md-divider>
        <i class="float-right fa fa-times" ng-click="newOrder.subOrders.splice($index, 1); ordersTotalCalculs()"></i>
        <md-input-container class="column medium-4">
            <label>Magasin</label>
            <input type="text" ng-model="subOrder.store.name" disabled>
        </md-input-container>
        <md-input-container class="column medium-8">
            <label>Adresse de livraison</label>
            <input type="text" ng-model="subOrder.store.deliveryAddress" disabled>
        </md-input-container>
        <md-input-container class="column medium-4">
            <label>Nombre de bâches</label>
            <input type="number"
                   step="any"
                   ng-change="subOrder = calculPriceAndWeight(subOrder); ordersTotalCalculs()"
                   ng-model="subOrder.numberItems">
        </md-input-container>
        <md-input-container class="column medium-4">
            <label>Prix</label>
            <input type="number" step="any" ng-model="subOrder.price" disabled>
        </md-input-container>
        <md-input-container>
            <label>Poid</label>
            <input type="number" step="any" ng-model="subOrder.weight" disabled>
        </md-input-container>
    </md-list>
    <md-list>
        <a class="md-button md-primary md-default-theme"
           ng-show="$parent.addSubOrder == false"
           ng-click="$parent.addSubOrder = true">
            Ajouter une sous-commande
        </a>
        <div ng-show="$parent.addSubOrder == true">
            <form>
                <div>
                    <md-subheader class="md-no-sticky">Choisissez un magasin</md-subheader>
                    <md-divider></md-divider>
                    <md-radio-group
                            ng-change="newSubOrder.store = getStoreById(selectedStore);
                                    newSubOrder = calculPriceAndWeight(newSubOrder);
                            viewStoreDetail = false"
                            ng-model="$parent.selectedStore">
                        <md-radio-button ng-repeat="store in $root.user.stores"
                                         value="{{store.id}}"
                                         class="md-primary fade">{{store.name}}</md-radio-button>
                    </md-radio-group>
                    <a class="md-button md-primary md-raised md-default-theme"
                       ng-show="selectedStore.length > 0 && !viewStoreDetail"
                       ng-click="copyStore(newSubOrder.store); viewStoreDetail = true;
                               createStore = false">
                        Voir / modifier les details du magasin
                    </a>
                    <a class="md-button md-primary md-raised md-default-theme"
                       ng-show="!viewStoreDetail"
                       ng-click="newSubOrder.store.newStore = {};
                               viewStoreDetail = true; $parent.selectedStore = false; createStore = true">
                        Ajouter un magasin
                    </a>
                    <a class="md-button md-primary md-raised md-default-theme"
                       ng-show="viewStoreDetail"
                       ng-click="removeCopyStore(newSubOrder.store); viewStoreDetail = false">
                        Cacher les details du magasin
                    </a>
                </div>
                <div ng-show="viewStoreDetail">
                    <md-input-container>
                        <label>Nom du magasin</label>
                        <input type="text" ng-model="newSubOrder.store.newStore.name">
                    </md-input-container>
                    <md-input-container>
                        <label>Référent</label>
                        <input type="text" ng-model="newSubOrder.store.newStore.contactName">
                    </md-input-container>
                    <md-input-container>
                        <label>Adresse de livraison</label>
                        <input type="text" ng-model="newSubOrder.store.newStore.deliveryAddress">
                    </md-input-container>
                    <md-input-container>
                        <label>Adresse de facturation</label>
                        <input type="text" ng-model="newSubOrder.store.newStore.billingAddress">
                    </md-input-container>
                    <md-autocomplete flex required
                                     md-autofocus="false"
                                     md-no-cache="noCache"
                                     md-selected-item="newSubOrder.store.newStore.area"
                                     md-search-text-change="searchTextChange(searchArea)"
                                     md-search-text="searchArea"
                                     md-selected-item-change="selectedItemChange(area)"
                                     md-items="area in querySearch(searchArea)"
                                     md-item-text="area.name"
                                     md-floating-label="Région (cliquez pour valider votre choix)">
                        <md-item-template>
                            <span md-highlight-text="searchArea" md-highlight-flags="^i">{{area.name}}</span>
                        </md-item-template>
                        <md-not-found>
                            No matches found for "{{searchArea}}".
                        </md-not-found>
                    </md-autocomplete>
                    <md-input-container>
                        <label>Numero de téléphone</label>
                        <input type="text" ng-model="newSubOrder.store.newStore.phone">
                    </md-input-container>
                    <md-input-container>
                        <label>Prix d'une bâche (prix m2)</label>
                        <input type="number" step="any" ng-model="newSubOrder.store.newStore.priceByM2" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Longueur du tube</label>
                        <input type="number" step="any" ng-model="newSubOrder.store.newStore.pipeSize">
                    </md-input-container>
                    <md-input-container>
                        <label>Poid de la bache</label>
                        <input type="number" step="any" ng-model="newSubOrder.store.newStore.weight">
                    </md-input-container>
                    <md-input-container>
                        <label>Format d'impression</label>
                        <input type="text" ng-model="newSubOrder.store.newStore.printFormat">
                    </md-input-container>
                    <md-input-container>
                        <label>Laize utilisé</label>
                        <input type="number" step="any" ng-model="newSubOrder.store.newStore.width">
                    </md-input-container>
                    <md-input-container>
                        <label>Longueur du jonc</label>
                        <input type="number" step="any" ng-model="newSubOrder.store.newStore.caneWidth">
                    </md-input-container>
                    <md-input-container>
                        <label>Nombre de moteurs</label>
                        <input type="number" ng-model="newSubOrder.store.newStore.enginesNumber">
                    </md-input-container>
                    <a class="md-button md-primary md-raised md-default-theme"
                       ng-show="createStore == false"
                       ng-click="refactorStore(newSubOrder.store);
                               newSubOrder.store = newSubOrder.store.newStore;
                               viewStoreDetail = false"
                       newSubOrder = calculPriceAndWeight(newSubOrder)>
                        Valider
                    </a>
                    <a class="md-button md-primary md-raised md-default-theme"
                       ng-show="createStore == true"
                       ng-click="addNewStore(newSubOrder.store); viewStoreDetail = false"
                       newSubOrder = calculPriceAndWeight(newSubOrder)>
                        Créer
                    </a>
                    <a class="md-button md-warn md-raised md-default-theme"
                       ng-click="removeCopyStore(newSubOrder.store); viewStoreDetail = false">
                        Annuler
                    </a>
                </div>
                <div ng-show="selectedStore">
                    <md-input-container>
                        <label>Nombre de bâches</label>
                        <input type="number"
                               ng-change="newSubOrder = calculPriceAndWeight(newSubOrder)"
                               ng-model="newSubOrder.numberItems">
                    </md-input-container>
                    <md-input-container>
                        <label>Prix</label>
                        <input type="number"
                               step="any"
                               ng-model="newSubOrder.price" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Poids</label>
                        <input type="number" step="any" ng-model="newSubOrder.weight" disabled>
                    </md-input-container>
                    <a class="md-button md-raised md-default-theme md-primary"
                       ng-click="newSubOrder = addNewSubOrder(newSubOrder); $parent.selectedStore = false;">
                        Ajouter la sous commande
                    </a>
                    <a class="md-button md-primary md-default-theme" ng-click="$parent.addSubOrder = false">Annuler</a>
                </div>
            </form>
        </div>
        <div ng-show="newOrder.numberItems > 0">
            <md-subheader>Totaux commande</md-subheader>
            <md-divider></md-divider>
            <md-list>
                <md-subheader>Prix total</md-subheader>
                <md-divider></md-divider>
                <md-list-item>
                    <b>{{newOrder.price}} €</b>
                </md-list-item>
            </md-list>
            <md-list>
                <md-subheader>Nombre total de baches</md-subheader>
                <md-divider></md-divider>
                <md-list-item>
                    <b>{{newOrder.numberItems}}</b>
                </md-list-item>
            </md-list>
            <md-list>
                <md-subheader>Poid total</md-subheader>
                <md-divider></md-divider>
                <md-list-item>
                    <b>{{newOrder.weight}} Kg</b>
                </md-list-item>
            </md-list>
        </div>
    </md-list>
    <md-button class="md-primary md-raised" ng-click="newOrder.state = 1; addOrder(newOrder);">Valider</md-button>
    <md-button class="md-primary md-raised" ng-click="addOrder(newOrder);">Enregistrer dans les brouillons</md-button>
    <md-button class="md-warn md-raised" ng-click="cancelNewOrder(); $parent.createOrder = false">Annuler</md-button>
    </form>
</md-list>
<div class="column large-12 fade" md-theme="commandeTheme"
     ng-repeat="order in filteredOrders = ($root.user.orders | filter: $root.filter) | orderBy:predicate:reverse | limitTo: limit">
    <md-divider class="column large-12" ng-if="!$first"></md-divider>
    <div class="padding10 float-left width100p">
        <div class="width100p float-left center" ng-show="!refactor">
            <h5 class="column medium-2">{{order.id}}</h5>
            <h5 class="column medium-2 pointer">
                <p class="margin0" ng-repeat="subOrder in order.subOrders"
                      ng-click="$root.filter = subOrder.store.name">{{subOrder.store.name}}</p>
            </h5>
            <h5 class="column medium-2">{{order.date | date:'MM/dd/yyyy'}}</h5>
            <div class="column medium-2">
                <md-button ng-show="order.state != 0" class="md-fab md-mini"
                           aria-label="order.state"
                           ng-class="{'md-accent': order.state == 1, 'md-accent md-hue-1': order.state == 2,
                        'md-accent md-hue-2': order.state == 3, 'md-primary': order.state == 4,
                        'md-accent md-hue-3': order.state == 5}"></md-button>
                <md-checkbox
                        ng-show="order.state == 0"
                        ng-model="order.state"
                        aria-label="Brouillon"
                        ng-true-value="0"
                        ng-false-value="1"
                        class="md-primary">
                    Brouillon
                </md-checkbox>
            </div>
            <h5><i class="column medium-2 pointer fa fa-pencil"
                   ng-click="copyOrder(order); refactor = true" ng-show="order.state ==0"></i></h5>
            <h5><i class="column medium-2 pointer fa fa-trash"  ng-show="order.state ==0" ng-click="confirmRemove = !confirmRemove"></i></h5>
        </div>
        <div ng-if="confirmRemove" class="float-right md-whiteframe-z1">
            <div class="float-left padding10">
                Etes-vous sur de vouloir suprimer cette commande ?
                <md-button class="md-primary md-raised" ng-click="$parent.confirmRemove = false; remove(order)">
                    Oui
                </md-button>
                <md-button class="md-primary md-raised" ng-click="$parent.confirmRemove = false">
                    Non
                </md-button>
            </div>
        </div>
        <md-list ng-if="refactor" class="md-whiteframe-z1">
            <form ng-submit="refactorOrder(order); $parent.order = order.newOrder; $parent.refactor = false">
                <i class="md-warn relative fa fa-times-circle"
                   style="  font-size: 30px;right: -15px;float: right;top: -22px;"
                   ng-click="$parent.refactor = false"></i>
                <md-subheader>Modifer la commande {{order.id}} - {{order.brand.name}}</md-subheader>
                <md-divider></md-divider>
                <md-list>
                    <md-subheader>Visuel</md-subheader>
                    <md-divider></md-divider>
                    <md-list-item>
                        <div class="column large-12 padding0">
                            <a class="md-primary md-button margin10 md-default-theme" ng-click="showImage = !showImage">Voir {{order.newOrder.image.name}}</a>
                            <a class="md-primary md-button margin10 md-default-theme" href="{{order.newOrder.image.url}}"
                               download="{{order.newOrder.image.name}}">Telecharger {{order.newOrder.image.name}}</a>
                            <input type="file"
                                   class="md-button md-primary md-default-theme"
                                   ng-model="order.newOrder.image.url" app-filereader>
                            <md-select placeholder="selectionner une image" ng-change="order.newOrder.image = loadImg(order.newOrder.image.id)"
                                       ng-model="order.newOrder.image.id">
                                <md-option ng-repeat="image in images" value="{{image.id}}">{{image.name}}</md-option>
                            </md-select>
                            <div class="column large-12 md-whiteframe-z1 padding10" ng-if="showImage">
                                <i class="float-right fa fa-times pointer" ng-click="$parent.showImage = false"></i>
                                <img ng-src="{{order.newOrder.image.url}}" class="width100p">
                            </div>
                        </div>
                    </md-list-item>
                </md-list>
                <md-subheader class="md-no-sticky">Details de la commande</md-subheader>
                <md-list ng-repeat="subOrder in order.newOrder.subOrders">
                    <md-subheader class="md-no-sticky">Details de la commande pour {{subOrder.store.name}}</md-subheader>
                    <md-divider></md-divider>
                    <i class="float-right fa fa-times" ng-click="order.newOrder.subOrders.splice($index, 1); order.newOrder = orderTotalCalculs(order.newOrder)"></i>
                    <md-input-container class="column medium-4">
                        <label>Magasin</label>
                        <input type="text" ng-model="subOrder.store.name" disabled>
                    </md-input-container>
                    <md-input-container class="column medium-8">
                        <label>Adresse de livraison</label>
                        <input type="text" ng-model="subOrder.store.deliveryAddress" disabled>
                    </md-input-container>
                    <md-input-container class="column medium-4">
                        <label>Nombre de bâches</label>
                        <input type="number"
                               step="any"
                               ng-change="subOrder = calculPriceAndWeight(subOrder); order.newOrder = orderTotalCalculs(order.newOrder)"
                               ng-model="subOrder.numberItems">
                    </md-input-container>
                    <md-input-container class="column medium-4">
                        <label>Prix</label>
                        <input type="number" step="any" ng-model="subOrder.price" disabled>
                    </md-input-container>
                    <md-input-container>
                        <label>Poid</label>
                        <input type="number" step="any" ng-model="subOrder.weight" disabled>
                    </md-input-container>
                </md-list>
                <md-list>
                    <a class="md-button md-primary md-default-theme"
                       ng-show="$parent.addSubOrder == false"
                       ng-click="$parent.addSubOrder = true">
                        Ajouter une sous-commande
                    </a>
                    <div ng-show="$parent.addSubOrder == true">
                        <div>
                            <md-subheader class="md-no-sticky">Choisissez un magasin</md-subheader>
                            <md-divider></md-divider>
                            <md-radio-group
                                    ng-change="newSubOrder.store = getStoreById(selectedStore);
                                newSubOrder = calculPriceAndWeight(newSubOrder);
                        viewStoreDetail = false"
                                    ng-model="$parent.selectedStore">
                                <md-radio-button ng-repeat="store in $root.user.stores"
                                                 value="{{store.id}}"
                                                 class="md-primary fade">{{store.name}}</md-radio-button>
                            </md-radio-group>
                            <a class="md-button md-primary md-raised md-default-theme"
                               ng-show="selectedStore.length > 0 && !viewStoreDetail"
                               ng-click="copyStore(newSubOrder.store); viewStoreDetail = true;
                           createStore = false">
                                Voir / modifier les details du magasin
                            </a>
                            <a class="md-button md-primary md-raised md-default-theme"
                               ng-show="!viewStoreDetail"
                               ng-click="newSubOrder.store.newStore = {};
                           viewStoreDetail = true; $parent.selectedStore = false; createStore = true">
                                Ajouter un magasin
                            </a>
                            <a class="md-button md-primary md-raised md-default-theme"
                               ng-show="viewStoreDetail"
                               ng-click="removeCopyStore(newSubOrder.store); viewStoreDetail = false">
                                Cacher les details du magasin
                            </a>
                        </div>
                        <div ng-show="viewStoreDetail">
                            <md-input-container>
                                <label>Nom du magasin</label>
                                <input type="text" ng-model="newSubOrder.store.newStore.name">
                            </md-input-container>
                            <md-input-container>
                                <label>Référent</label>
                                <input type="text" ng-model="newSubOrder.store.newStore.contactName">
                            </md-input-container>
                            <md-input-container>
                                <label>Adresse de livraison</label>
                                <input type="text" ng-model="newSubOrder.store.newStore.deliveryAddress">
                            </md-input-container>
                            <md-input-container>
                                <label>Adresse de facturation</label>
                                <input type="text" ng-model="newSubOrder.store.newStore.billingAddress">
                            </md-input-container>
                            <md-autocomplete flex required
                                             md-autofocus="false"
                                             md-no-cache="noCache"
                                             md-selected-item="newSubOrder.store.newStore.area"
                                             md-search-text-change="searchTextChange(searchArea)"
                                             md-search-text="searchArea"
                                             md-selected-item-change="selectedItemChange(area)"
                                             md-items="area in querySearch(searchArea)"
                                             md-item-text="area.name"
                                             md-floating-label="Région (cliquez pour valider votre choix)">
                                <md-item-template>
                                    <span md-highlight-text="searchArea" md-highlight-flags="^i">{{area.name}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No matches found for "{{searchArea}}".
                                </md-not-found>
                            </md-autocomplete>
                            <md-input-container>
                                <label>Numero de téléphone</label>
                                <input type="text" ng-model="newSubOrder.store.newStore.phone">
                            </md-input-container>
                            <md-input-container>
                                <label>Prix d'une bâche (prix m2)</label>
                                <input type="number" step="any" ng-model="newSubOrder.store.newStore.priceByM2" disabled>
                            </md-input-container>
                            <md-input-container>
                                <label>Longueur du tube</label>
                                <input type="number" step="any" ng-model="newSubOrder.store.newStore.pipeSize">
                            </md-input-container>
                            <md-input-container>
                                <label>Poid de la bache</label>
                                <input type="number" step="any" ng-model="newSubOrder.store.newStore.weight">
                            </md-input-container>
                            <md-input-container>
                                <label>Format d'impression</label>
                                <input type="text" ng-model="newSubOrder.store.newStore.printFormat">
                            </md-input-container>
                            <md-input-container>
                                <label>Laize utilisé</label>
                                <input type="number" step="any" ng-model="newSubOrder.store.newStore.width">
                            </md-input-container>
                            <md-input-container>
                                <label>Longueur du jonc</label>
                                <input type="number" step="any" ng-model="newSubOrder.store.newStore.caneWidth">
                            </md-input-container>
                            <md-input-container>
                                <label>Nombre de moteurs</label>
                                <input type="number" ng-model="newSubOrder.store.newStore.enginesNumber">
                            </md-input-container>
                            <a class="md-button md-primary md-raised md-default-theme"
                               ng-show="createStore == false"
                               ng-click="refactorStore(newSubOrder.store);
                           newSubOrder.store = newSubOrder.store.newStore;
                           viewStoreDetail = false"
                               newSubOrder = calculPriceAndWeight(newSubOrder)>
                                Valider
                            </a>
                            <a class="md-button md-primary md-raised md-default-theme"
                               ng-show="createStore == true"
                               ng-click="addNewStore(newSubOrder.store); viewStoreDetail = false"
                               newSubOrder = calculPriceAndWeight(newSubOrder)>
                                Créer
                            </a>
                            <a class="md-button md-warn md-raised md-default-theme"
                               ng-click="removeCopyStore(newSubOrder.store); viewStoreDetail = false">
                                Annuler
                            </a>
                        </div>
                        <div ng-show="selectedStore">
                            <md-input-container>
                                <label>Nombre de bâches</label>
                                <input type="number"
                                       ng-change="newSubOrder = calculPriceAndWeight(newSubOrder)"
                                       ng-model="newSubOrder.numberItems">
                            </md-input-container>
                            <md-input-container>
                                <label>Prix</label>
                                <input type="number"
                                       step="any"
                                       ng-model="newSubOrder.price" disabled>
                            </md-input-container>
                            <md-input-container>
                                <label>Poids</label>
                                <input type="number" step="any" ng-model="newSubOrder.weight" disabled>
                            </md-input-container>
                            <a class="md-button md-raised md-default-theme md-primary"
                               ng-click="newSubOrder = refactorNewSubOrder(newSubOrder, order);
                                $parent.selectedStore = false;">
                                Ajouter la sous commande
                            </a>
                            <a class="md-button md-primary md-default-theme" ng-click="$parent.addSubOrder = false">Annuler</a>
                        </div>
                    </div>
                    <div ng-show="order.newOrder.numberItems > 0">
                        <md-subheader>Totaux commande</md-subheader>
                        <md-divider></md-divider>
                        <md-list>
                            <md-subheader>Prix total</md-subheader>
                            <md-divider></md-divider>
                            <md-list-item>
                                <b>{{order.newOrder.price}} €</b>
                            </md-list-item>
                        </md-list>
                        <md-list>
                            <md-subheader>Nombre total de baches</md-subheader>
                            <md-divider></md-divider>
                            <md-list-item>
                                <b>{{order.newOrder.numberItems}}</b>
                            </md-list-item>
                        </md-list>
                        <md-list>
                            <md-subheader>Poid total</md-subheader>
                            <md-divider></md-divider>
                            <md-list-item>
                                <b>{{order.newOrder.weight}} Kg</b>
                            </md-list-item>
                        </md-list>
                    </div>
                    <md-checkbox
                            ng-model="order.newOrder.state"
                            aria-label="Brouillon"
                            ng-true-value="0"
                            ng-false-value="1"
                            class="md-primary">
                        Brouillon
                    </md-checkbox>
                </md-list>
                <md-button class="md-primary md-raised" type="submit">Valider</md-button>
                <md-button class="md-warn md-raised" ng-click="$parent.refactor = false">Annuler</md-button>
            </form>
        </md-list>
    </div>
</div>
<md-button ng-show="filteredOrders.length > limit"
           ng-click="limit = limit + 20"
           class="md-primary md-raised">Voir plus</md-button>