@(title: String)(content: Html)
<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="assets/styles/main.css">
    <!-- endbuild -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  </head>
  <body ng-app="bodeaApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
        <section layout="row" flex ng-controller="MainCtrl" class="height100p">
            <md-sidenav class="md-sidenav-left md-whiteframe-z2 ng-hide height100p"
                        ng-if="$root.connected != false"
                        ng-show="$root.connected"
                        md-component-id="left"
                        md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools" ng-if="$root.connected == 'admin'"><a href="#/">Administration</a></h1>
                    <h1 class="md-toolbar-tools" ng-if="$root.connected == 'client'"><a href="#/">Gestion des commandes</a></h1>
                </md-toolbar>
                <md-content layout-padding class="center">
                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Fermer le menu
                    </md-button>
                    <md-button class="fa fa-cog md-fab md-mini md-primary" aria-label="settings" ng-href="#/Settings">
                        <md-tooltip>
                            Settings
                        </md-tooltip>
                    </md-button>
                    <md-button class="fa fa-envelope md-fab md-mini"
                               ng-class="{'md-primary': notifications.length == 0,
                               'md-warn': notifications.length > 0}"
                               aria-label="notifications" ng-href="#/">
                        {{notifications.length}}
                        <md-tooltip>
                            Notifications
                        </md-tooltip>
                    </md-button>
                    <md-button class="fa fa-sign-out md-fab md-mini md-warn" aria-label="deconnection" ng-click="disconnect()">
                        <md-tooltip>
                            Deconnection
                        </md-tooltip>
                    </md-button>
                    <ul class="padding0 navAdmin" ng-if="$root.connected == 'admin'">
                        <li ng-class="{'active': active == '/Commandes'}">
                            <md-button class="md-primary width100p margin0" ng-href="#/Commandes">Commandes</md-button>
                        </li>
                        <md-divider></md-divider>
                        <li ng-class="{'active': active == '/Magasins'}">
                            <md-button class="md-primary width100p margin0" ng-href="#/Magasins">Magasins</md-button>
                        </li>
                        <md-divider></md-divider>
                        <li ng-class="{'active': active == '/Comptes'}">
                            <md-button class="md-primary width100p margin0" ng-href="#/Comptes">Comptes</md-button>
                        </li>
                        <md-divider></md-divider>
                        <li ng-class="{'active': active == '/Historique'}">
                            <md-button class="md-primary width100p margin0" ng-href="#/Historique">Historique</md-button>
                        </li>
                    </ul>
                    <ul class="padding0 navAdmin" ng-if="$root.connected == 'client'">
                        <li ng-class="{'active': active == '/mesCommandes'}">
                            <md-button class="md-primary width100p margin0" ng-href="#/mesCommandes">mes Commandes</md-button>
                        </li>
                        <md-divider></md-divider>
                        <li ng-class="{'active': active == '/Visuels'}">
                            <md-button class="md-primary width100p margin0" ng-href="#/Visuels">Visuels</md-button>
                        </li>
                        <md-divider></md-divider>
                        <li ng-class="{'active': active == '/Historique'}">
                            <md-button class="md-primary width100p margin0" ng-href="#/Historique">Historique</md-button>
                        </li>
                    </ul>
                    <md-list class="padding0 navAdmin fade" md-theme="commandeTheme" ng-if="active == '/mesCommandes' || active == '/Commandes'">
                        <md-subheader>Etats des commandes</md-subheader>
                        <md-list-item class="padding0">
                            <md-button class="md-fab md-mini md-accent" aria-label="Commande en préparation"></md-button>
                            Commande en préparation
                        </md-list-item>
                        <md-list-item class="padding0">
                            <md-button class="md-fab md-mini md-accent md-hue-1" aria-label="Commande validée"></md-button>
                            Commande validée
                        </md-list-item>
                        <md-list-item class="padding0">
                            <md-button class="md-fab md-mini md-accent md-hue-2" aria-label="En cours de traitement"></md-button>
                            En cours de traitement
                        </md-list-item>
                        <md-list-item class="padding0">
                            <md-button class="md-fab md-mini md-primary" aria-label="En cours de livraison"></md-button>
                            En cours de livraison
                        </md-list-item>
                        <md-list-item class="padding0">
                            <md-button class="md-fab md-mini md-accent md-hue-3" aria-label="Livrée"></md-button>
                            Livrée
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-sidenav>
            <md-content flex class="height100p">
                <md-toolbar id="topBar" md-scroll-shrink>
                    <div class="md-toolbar-tools" ng-if="$root.connected != false">
                        <md-input-container class="md-icon-float column small-8" >
                            <label>Recherche</label>
                            <input ng-model="$root.filter">
                        </md-input-container>
                    </div>
                    <div class="md-toolbar-tools" ng-if="$root.connected == false">
                        BODEA v.0.0
                    </div>
                </md-toolbar>
                <div class="column large-12">

                    <md-button ng-click="toggleLeft()"
                               class="md-primary" hide-gt-md>
                        Menu
                    </md-button>
                </div>
                <div class="column large-12 content-view" style="overflow-x: auto" ng-view=""></div>
            </md-content>
        </section>
    </div>
 <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="@routes.Assets.at("bower_components/angular/angular.js")"></script>
    <script src="@routes.Assets.at("bower_components/angular-animate/angular-animate.js")"></script>
    <script src="@routes.Assets.at("bower_components/angular-aria/angular-aria.js")"></script>
    <script src="@routes.Assets.at("bower_components/angular-cookies/angular-cookies.js")"></script>
    <script src="@routes.Assets.at("bower_components/angular-messages/angular-messages.js")"></script>
    <script src="@routes.Assets.at("bower_components/angular-resource/angular-resource.js")"></script>
    <script src="@routes.Assets.at("bower_components/angular-route/angular-route.js")"></script>
    <script src="@routes.Assets.at("bower_components/angular-sanitize/angular-sanitize.js")"></script>
    <script src="@routes.Assets.at("bower_components/angular-touch/angular-touch.js")"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="@routes.Assets.at("scripts/modules/foundation/mm-foundation.min.js")"></script>
    <script src="@routes.Assets.at("scripts/modules/angular-material.min.js")"></script>
    <script src="@routes.Assets.at("scripts/modules/Chart.js")"></script>
    <script src="@routes.Assets.at("scripts/modules/angular-chart.min.js")"></script>
    <script src="@routes.Assets.at("scripts/modules/ngCsv.min.js")"></script>
    <script src="@routes.Assets.at("scripts/app.js")"></script>
    <script src="@routes.Assets.at("scripts/services/guidFactory.js")"></script>
    <script src="@routes.Assets.at("scripts/services/messagesFactory.js")"></script>
    <script src="@routes.Assets.at("scripts/services/notificationsFactory.js")"></script>
    <script src="@routes.Assets.at("scripts/services/ordersFactory.js")"></script>
    <script src="@routes.Assets.at("scripts/services/storesFactory.js")"></script>
    <script src="@routes.Assets.at("scripts/services/brandsFactrory.js")"></script>
    <script src="@routes.Assets.at("scripts/services/areaFactory.js")"></script>
    <script src="@routes.Assets.at("scripts/services/usersFactory.js")"></script>
    <script src="@routes.Assets.at("scripts/services/userFactory.js")"></script>
    <script src="@routes.Assets.at("scripts/services/connectionFactory.js")"></script>
    <script src="@routes.Assets.at("scripts/services/imagesFactory.js")"></script>
    <script src="@routes.Assets.at("scripts/controllers/main.js")"></script>
    <script src="@routes.Assets.at("scripts/controllers/commandesCtrl.js")"></script>
    <script src="@routes.Assets.at("scripts/controllers/magasins.js")"></script>
    <script src="@routes.Assets.at("scripts/controllers/users.js")"></script>
    <script src="@routes.Assets.at("scripts/controllers/myOrders.js")"></script>
    <script src="@routes.Assets.at("scripts/controllers/imagesCtrl.js")"></script>
    <script src="@routes.Assets.at("scripts/controllers/historiqueCtrl.js")"></script>
    <script src="@routes.Assets.at("scripts/controllers/settingsCtrl.js")"></script>
    <script src="@routes.Assets.at("scripts/directives/contentView.js")"></script>
    <script src="@routes.Assets.at("scripts/directives/fileReader.js")"></script>
    <script src="@routes.Assets.at("scripts/directives/storeForm.js")"></script>
    <script src="@routes.Assets.at("scripts/directives/addImage.js")"></script>
    <!-- endbuild -->
</body>
</html>
